<div class="container">
    <div class="row">
        <div class="col-md-8 "> 
            {{#each products}}
            <div class="container p-3 bcontent mt-3">
                <div class="card ps-3 border">
                    <div class="row ">
                        <div class="col-md-3 p-2">
                            <img src="/product-images/{{product.Images.[1]}}.jpg" alt=""
                                style="width: 200px;">
                        </div>
                       
                        <div class="col-md-9 mt-2">
                            <h3 class="mb-0 pb-1">{{product.product}}</h3>
                            <p class="mb-0 pb-1 text-secondary">{{product.brand}}</p>
                            <p class="mb-0 pb-1 text-secondary">SIZE : S</p>
                            <p class="mb-0 pb-1 text-secondary" style="text-decoration: line-through;">{{product.price}}</p>
                            <p class="mb-0 pb-1">₹ {{product.offerPrice}}</p>
                            <div class="d-flex mt-2">
                                <button id="minusbtn" href=""
                                    class="plus-btn text-white ps-3 pe-3 pt-1 pb-1 bg-dark me-2"
                                    onclick="changeQuantity('{{_id}}','{{product._id}}',-1)">-</button>
                                <input type="text" name="" id="{{product._id}}"
                                    style="width: 30px;text-align: center; border: none;" value="{{quantity}}" readonly>
                                <button href="" class="plus-btn text-white ps-3 pe-3 pt-1 pb-1 bg-dark ms-2 "
                                    onclick="changeQuantity('{{_id}}','{{product._id}}',1)">+</button>
                            </div>
                            <div class="pt-2 mt-4">
                                <a href="" class="bg-dark text-white pt-2 pb-2 ps-3 pe-3 ">Remove</a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-md-4 mt-4" style="">
            <div class="shadow-box mt-2" style="position: fixed; width: 30%;">
                <div class="pt-3 ps-3 pe-3 pb-4">
                    <h2>Order Summary</h2>
                    <hr class="" style="height: 2px; background-color: black; color: black;">

                    <h5>Subtotal : ₹{{total.total}}</h5>
                    {{#if total.delivery}}
                    <h5>Delivery Charge : ₹{{total.delivery}} </h5>
                    {{else}}
                     <h5>Delivery Charge : Free </h5>
                    {{/if}}
                    
                    
                    <h5>Discount : {{total.disc}}%</h5>
                    <h5>Total : ₹{{total.disTotal}}</h5>
                </div>
                <div style="width: 100%;" class="bg-dark text-light text-center pt-1 pb-1">
                    <a href="" style="text-decoration: none;" class="text-light fs-4">Place Order</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function changeQuantity(cart,product,count){
        let quantity=parseInt(document.getElementById(product).value)
        $.ajax({
            url:'/change-quantity',
            data:{
                cartId:cart,
                proId:product,
                count:count,
                quantity:quantity
            },
            method:'post',
            success:(response)=>{
                console.log(response)
                if(response.delete){
                    alert("Product Removed From The Cart")
                    location.reload()
                }else{
                     document.getElementById(product).value = quantity + count

                }
            }
        })
    }
</script>